fastapi
uvicorn[standard]
sqlmodel
asyncpg
psycopg2-binary
pydantic-settings
python-jose[cryptography]
passlib[argon2]
python-multipart
minio
redis
celery
requests
email-validator
pytest
httpx
paddlepaddle
paddleocr
